/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}
html {
    scroll-behavior: smooth;
}

p {
    color: rgb(85, 85, 85);
}
/* TRANSITION */

a, .btn {
    transition: 300ms ease;
}

/* DESKTOP NAV */

nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 17vh;

}